@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:100');

body {
  background-color: orange;
  height: 100vh;
  overflow-y: hidden;
}

.header {
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: white;
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  padding-left: 15px;

}
.item {
  border-bottom: 1px solid #F1F1F1;
}

.item p, .item input[type="checkbox"] {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  box-sizing: border-box;
}


input:checked + label > p {
  text-decoration: line-through;
}

.type {
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.type input {
  width: 65%;
  height: 35px;
  padding-left: 10px;
}

@media screen and (max-width: 1700px) {
  .type input {
    width: 40%;
  }
}

.btn-danger, .btn-default {
  display: inline;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.footer h3 > .fa {
  color: red;
}

a, a:link, a:hover, a:visited {
  color: white;
}
