body {
  background-color: orange;
  height: 100vh;
}

.container {
  background-color: white;
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 100px;
}
.item {
  border-bottom: 1px solid #F1F1F1;
}

.item p, .item input[type="checkbox"] {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-right: 1px solid #F1F1F1;
}

input:checked + p {
  text-decoration: line-through;
}

.type {
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
}

.type input {
  width: 65%;
  height: 35px;
  padding-left: 10px;
}

@media screen and (max-width: 1700px) {
  .type input {
    width: 40%;
  }
}

.btn-danger, .btn-default {
  display: inline;
}
